@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: black;
}

main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    border: hidden; 
    margin-top: 35vh;
}

p#clock {
    color: red;
    font-size: 15vw;
    font-family: 'Roboto Mono';
    height: fit-content;
}